<mat-card>
  <mat-card-header>
    <mat-card-title class="view-display-block__title">{{title}}</mat-card-title>
    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-content class="view-display-block__windows">
    <mat-card class="view-display-block__windows__result">
      <mat-card-content *ngTemplateOutlet="resultView">
      </mat-card-content>
    </mat-card>
    <mat-card class="view-display-block__windows__code">
      <mat-card-content>
        <div>
          <mat-tab-group animationDuration="0ms">
            <mat-tab *ngIf="images.ts" label="TS">
              @for (image of images.ts; track image) {
                <img [src]="image">
              }
            </mat-tab>
            <mat-tab *ngIf="images.ts" label="HTML">
              @for (image of images.html; track image) {
                <img [src]="image">
              }
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
