<view-display-block
  title="Custom attribute directive"
  [images]="BOLD_DIRECTIVE_IMAGES"
>
  <div #resultView>
    >>
    <span
      customAttributeDirective
      customBackgroundColor="red"
      class="view-directives__example-bold"
      >Hover cursor here and click</span>
    <<
  </div>
</view-display-block>

<view-display-block
  title="Multiply content structure directive"
  [images]="BOLD_DIRECTIVE_IMAGES"
>
  <div *multiplyContent="4">Multiplyed elements</div>
</view-display-block>
